*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html{
    background: #F3F3F7;
}

h1,
h2 {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: gray;
}

:root {
    --color-grey: #555555;
}

.wrapper {
    position: relative;

}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}