#one1 {
color: green;
}

.one {
    color: red;
}

span {
    color: blue;
}

.one {}

.two {
    
}

.three {}

p{
    width: 500px;
    text-align: justify;
    line-height: 20px;
    color: chocolate;
}